@model ManiaGaming.Models.ProductDetailViewModel
@{
    ViewData["Title"] = "Detail";
}
<body>
<h2>Game Details</h2>
</body>
<!DOCTYPE html>
<html>
<head>
    <title>Game Details</title>
</head>

<body>
    <div class="container" style="width: 465px">
        <h3 style="white-space:pre">super mario galaxy</h3>

        <img src="~/images/super mario galaxy.jpg" Simply Easy Learning" width="200"
             height="200">
        <p style="float:right; white-space:pre">
        <strong>Beschrijving</strong>
        Dit is een spel van de
        nintendo wii. Ga op avontuur met  
        mario in de ruimte.

        <strong>Prijs:</strong>3,45
        </p>
        </div>
        
    
</body>
</html>
