@model ManiaGaming.Models.ProductDetailViewModel
@{
    ViewData["Title"] = "Detail";
}
<body>
    <h2>Game Details</h2>
</body>
<!DOCTYPE html>
<html>
<head>
    <title>Game Details</title>
</head>

<body>
    <!--<div class="games-container"></div>-->

    <h3>@Model.Naam</h3>

    <img class="mario" src="~/images/super mario galaxy.jpg">
    <p>
        <strong>Beschrijving</strong>
        @Model.Omschrijving

        <strong>Prijs:</strong>@Model.Prijs
    </p>


    <div>
        <a asp-action="Index">Terug naar lijst</a>
    </div>

</body>
</html>
