@model ManiaGaming.Models.ProductDetailViewModel
@{
    ViewData["Title"] = "Detail";
}
<body>
    <h2>Game Details</h2>
</body>
<!DOCTYPE html>
<html>

<head>
    <title>Game Details</title>
    <link rel="stylesheet" href="site.css">
</head>

<body>

    <div class="homepage-img"></div>

    <h3 style="float:right; width:69%; margin-left:1.5%;">@Model.Naam</h3>
    
    
    <div style="float:left; width:50%; margin-left:1.5%;">
        <img style="float:right; width:200px; height:250px"  src="~/images/super mario galaxy.jpg">
    </div>
    <div style="float:right; width:45%; margin-left:1.5%; position:center;">
        <p style="white-space:pre-line">

            <strong>Beschrijving</strong>
            @Model.Omschrijving

            <strong>Prijs:</strong>@Model.Prijs
            <button>Kopen</button>
        </p>
    </div>
   
    <div style="height:100%; margin-top:35%;">
        <button><a asp-action="Index">Terug naar lijst</a></button>
    </div>
    
     
    

</body>
</html>
