@model ManiaGaming.Models.ProductViewModel;
@{
    ViewData["Title"] = "Index";
    

    
}

<h2>Index</h2>
<ul id="myList" runat="server" class="myClass">
    <li class="myItemClass">Super mario galaxy</li>
    <img src="~/images/Super-Mario-Galaxy.jpg" alt="Sample Photo" />
    <li class="myItemClass">Item 2</li>
</ul>

