
<!DOCTYPE html>
<html>

<head>
    @model ManiaGaming.Models.ProductViewModel;
    @{
        ViewData["Title"] = "Index";
    }
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <title></title>


</head>


<body>
    
    <div id="productContainer">
        <table class="table table-striped table-hover" id="productTable" style="width:100%;">
            <thead>
                <tr>
                    <th>Naam</th>
                    <th>Prijs</th>
                    <th>Acties</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProductDetailViewModel item in Model.ProductDetailViewModels)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Naam)</td>
                        <td>@Html.DisplayFor(modelItem => item.Prijs)</td>
                        <td>
                            @Html.ActionLink("Detail", "Detail", new { id = item.ProductId }) 
                    </tr>
                }
            </tbody>
        </table>
    </div>

</body>

</html>




