
<!DOCTYPE html>
<html>

<head>
    @model ManiaGaming.Models.ProductViewModel;
    @{
        ViewData["Title"] = "Index";
    }
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <title></title>


</head>


<body>
    
    <div class="container-product">
        @{ 
            foreach (ProductDetailViewModel item in Model.productDetailViewModels)
            {
                List<ProductDetailViewModel> ThreeDVMs = new List<ProductDetailViewModel>();

                for (int x = 0; x < ThreeDVMs.Count(); x++)
                {
                    <div class="container-products">
                        <p>@Html.DisplayFor(modelItem => item.Naam)</p>
                    </div>

                }
            }
        }
    </div>

</body>

</html>




