@model ManiaGaming.Models.ZoekViewModel

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ManiaGaming</title>
    <link href="https://fonts.googleapis.com/css?family=Notable&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet" />
    <environment include="Development">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="~/lib/bootstrap-4.3.1-dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="logo-container">
            <a asp-area="" asp-controller="Home" asp-action="Index"><h1>Mania Gaming</h1></a>
        </div>
        <div>
            <form asp-controller="Product" asp-action="Zoeken" class="form-inline my-2 my-lg-0" style="margin-left:20px">
                <input asp-for="Zoekterm" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Games" asp-action="Index">Games</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Consoles" asp-action="Index">Consoles</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Accesoires" asp-action="Index">Accessoires</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Merchandise" asp-action="Index">Merchandise</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Detail">Contact</a></li>
                <!--<li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Beheer</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">Orderbeheer</a></li>
    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Filiaal" asp-action="Index">Filiaalbeheer</a></li>-->
                @if (User.IsInRole("Klant"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Klant" asp-action="Index">Instellingen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Winkelwagen" asp-action="Index">Winkelwagen</a>
                    </li>
                }
                @if (User.IsInRole("Beheerder") || User.IsInRole("Werknemer"))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Beheer</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">Orderbeheer</a></li>
                }
                @if (User.IsInRole("Beheerder"))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Filiaal" asp-action="Index">Filiaalbeheer</a></li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                    </li>
                }
            </ul>
        </div>
    </nav>

    @RenderBody()

    @RenderSection("Scripts", required: false)




    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Games" asp-action="Index">Games</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Consoles" asp-action="Index">Consoles</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Accesoires" asp-action="Index">Accessoires</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Merchandise" asp-action="Index">Merchandise</a></li>
                <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Contact" asp-action="Detail">Contact</a></li>
                @if (User.IsInRole("Klant"))
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Klant" asp-action="Index">Instellingen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Winkelwagen" asp-action="Index">Winkelwagen</a>
                    </li>
                }
                @if (User.IsInRole("Beheerder"))
                {
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Order" asp-action="Index">Orderbeheer</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Filiaal" asp-action="Index">Filiaalbeheer</a></li>
                    <li class="nav-item"><a class="nav-link" asp-area="" asp-controller="Product" asp-action="Index">Beheer</a></li>
                }
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Logout">Logout</a>
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
                    </li>
                }

            </ul>
        </div>
        <div class="copyrights">
            <p>&copy; 2019 - ManiaGaming</p>
        </div>
    </nav>







</body>
</html>
