@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<!DOCTYPE html>
<html>

<head>
<title>Title of the document</title>
</head>


<body>



    <p>The content of the document......</p>
    <p>Use this area to provide additional information.</p>


</body>




</html>