
@{
    ViewData["Title"] = "GamesConsoles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>GamesConsoles</h2>

<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>


<body>


   <p>gelukt</p> 


</body>




</html>