<!DOCTYPE html>
<html>

<head>
    @{
        ViewData["Title"] = "Home page";
    }
    <link href="https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
    <title></title>


</head>


<body>
    
    <div class="homepage-img">
        <img src="~/images/call-of-duty-modern-warfare-hero-banner-03-ps4-us-30may19.jpg" alt="Sample Photo" />
        <div class="pre-order"> 21 oktober 2019</div> 
    </div>

    <div class="games-accessoires-flex">
        <div class="games-accessoires">
            <a asp-area="" asp-controller="Home" asp-action="About"><img src="~/images/games&consoles.png" alt="Sample Photo" /></a>
            <p class="caption">Games & Concoles</p>
        </div>
       
        <div class="games-accessoires1">
            <a asp-area="" asp-controller="Home" asp-action="Contact"><img src="~/images/PS4-Accessories.png" alt="Sample Photo" /></a>
            <p class="caption">Accessoires</p>
        </div>
    </div>
    <div class="merchanise">
        <a asp-area="" asp-controller="Home" asp-action="Contact"><img src="~/images/merch.jpg" /></a>
        <p class="caption1">Merchandise</p>
    </div>








</body>

</html>

