
@{
    ViewData["Title"] = "Merchandise";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Merchandise</h2>

<!DOCTYPE html>
<html>

<head>
    <title></title>
</head>


<body>





</body>




</html>