@model ManiaGaming.Models.OrderViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (OrderDetailViewModel item in Model.Orders) {
        <tr>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Orderid }) |
                @Html.ActionLink("Details", "Details", new { id=item.Orderid }) |
                @Html.ActionLink("Delete", "Delete", new {  id=item.Orderid })
            </td>
        </tr>
}
    </tbody>
</table>
