/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

.layout-head {
    width: 100%;
    height: 150px;
    position: absolute;
}

.header {
    width: 100%;
    height: 150px;
    display: block;
    background: black;
}

.inner-header {
    width: 1300px;
    height: 100%;    
    background: black;

}
.logo-container {
    float: left;
 
    margin-top: 10px;
    margin-left:10px;
}


.logo-container h1 
{
    color: white;
    display: table-cell;  
    font-family: 'Notable'; 
    font-size: 25px;   
    text-decoration:none;
  
   
}

.logo-container a 
{
    text-decoration:none;

}
        
.navigation
{
    float:left;
    height:100%;
    margin-top: 40px;
    font-weight:700;
}

.navigation li{
    
    float:left;
    padding: 50px 20px; 
    bottom: auto;
}

.navigation li a 
{
    color: white;
    text-decoration: none;
    font-size: 15px;
    margin-top: auto
}



/* Homepage div */
.homepage-img img
{
    height: 450px;
    width: 1200px;
    margin: 75px 150px;
}

.pre-order {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    position: absolute;
    bottom: 150px;
    left: 175px;
    color:white;
}
.games-accessoires-flex {
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
   
    
}
.games-accessoires img {
    flex: 1;
    height: 275px;
    width: 500px;
    padding: 10px;
 
}

.games-accessoires1 img {
    flex: 1;
    height: 275px;
    width: 500px;
   
    padding: 10px;
  
}
.caption {
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

.caption1 {
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

.container-product{
    text-align: right;
}

.merchanise img {
    width: 50%;
    display: table;
    margin: 0 auto;   
    padding: 10px;
}

/* game/index */


/*.container-product {
    border: solid;
    margin: 7px;
    height: 300px;
    width: 250px;
    border-color: red;
    display: flex;
    flex-direction: row;
}

.container-product-text {
    text-align: center;
}*/


.container-product {
    display: flex;
    flex-wrap: wrap;
    background-color: mediumspringgreen;
    width: 1200px;
    margin:auto;
    margin-top: 80px;

}
.containers-products {
    background-color: #f1f1f1;
    width: 380px;
    height:330px;
    margin: 10px;
    text-align: center;

   -line-height: 75px;
   -font-size: 30px;
}
.containers-products img{
    width: 250px;
    height: 225px;
}
.product-font {
    font-size: 19px;
    
}

    /*games/detail*/

.picture {
    width: 200px;
    height: 250px;

}
.hheader {
    float: right;
    width: 69%;
    margin-left: 1.5%;
}

/*.container-products p {
    border: solid;
    border-color: red;
    text-align: center;
    top: 270px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

/*  Beheerder index*/

.table-products {
    width: 100%;
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: 0px auto;
    width: 80%;
}

    .content-table thead tr {
        background-color: #00cc66;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 15px 50px;
    }


    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

        .content-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .content-table tbody tr:last-of-type {
            border-bottom: 2px solid #00cc66;
        }

        .content-table tbody tr.active-row {
            font-weight: bold;
            color: #ccffff;
        }

/*Footer*/


footer {
    background: linear-gradient(to right, #00cc66 0%, #ccffff 99%);
    position: relative;
    height: 120px;
    display:block;
    margin-top:100px;
}


.footer-navigation {
    
    height: 100%;
    font-weight: 600;
    width: 50%;
    margin: auto;
}

 .footer-navigation li {
        display: block;
        float: left;
        padding: 0px 20px;
        margin-top: 35px;

        
       }

    .footer-navigation li a {
        color: white;
        text-decoration: none;
        font-size: 15px;
    }

    /*test*/
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
    /*test end*/




.copyrights{
 text-align:center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size:18px;
 position:absolute;
 top:110px;
 width:100%;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

    .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
        color: #28a745;
    }

.close:hover,
.close:focus {
    color: lightgreen;
    text-decoration: none;
    cursor: pointer;
}



   