/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */

.header {
    width: 100%;
    height: 50px;
    /*margin-top: px;*/
    display: block;
    background: linear-gradient(to right, #00cc66 0%, #ccffff 10%);
}

.inner-header {
    width: 1300px;
    height: 100%;
    background: linear-gradient(to right, #00cc66 0%, #ccffff 99%);
}
.logo-container {
    float: left;
 
    margin-top: 10px;
    margin-left:10px;
}


.logo-container h1 
{
    color: white;
    display: table-cell;  
    font-family: 'Notable'; 
    font-size: 25px;   
    text-decoration:none;
  
   
}

.logo-container a 
{
    text-decoration:none;

}
        
.navigation
{
    float:left;
    height:100%;
    margin-top: 18px;
    font-weight:700;
}

.navigation li{
    display:block;
    float:left;
    padding: 0px 20px;
    
}

.navigation li a 
{
    color: white;
    text-decoration: none;
    font-size: 15px;
    
}



/* Homepage div */
.homepage-img img
{
    height: 450px;
    width: 1200px;
    margin: 75px 150px;
}

.pre-order {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    position: absolute;
    bottom: 150px;
    left: 175px;
    color:white;
}
.games-accessoires-flex {
    display: flex;
    justify-content:space-around;
    margin-top: 50px;
   
    
}
.games-accessoires img {
    flex: 1;
    height: 275px;
    width: 500px;
    padding: 10px;
 
}

.games-accessoires1 img {
    flex: 1;
    height: 275px;
    width: 500px;
   
    padding: 10px;
  
}
.caption {
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

.caption1 {
    display: block;
    text-align: center;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

.container-product{
    text-align: right;
}

.merchanise img {
    width: 50%;
    display: table;
    margin: 0 auto;   
    padding: 10px;
}

/* game/index */


/*.container-product {
    border: solid;
    margin: 7px;
    height: 300px;
    width: 250px;
    border-color: red;
    display: flex;
    flex-direction: row;
}

.container-product-text {
    text-align: center;
}*/


.container-product {
    display: flex;
    flex-wrap: wrap;
    background-color: mediumspringgreen;
    width: 1200px;
    margin:auto;
    margin-top: 80px;

}
.containers-products {
    background-color: #f1f1f1;
    width: 380px;
    height:330px;
    margin: 10px;
    text-align: center;

    /line-height: 75px;
    /font-size: 30px;
}
.containers-products img{
    width: 250px;
    height: 225px;
}
.product-font {
    font-size: 19px;
    font-family: 'Permanent Marker', cursive;
}

    /*games/detail*/

.picture {
    width: 200px;
    height: 250px;

}
.hheader {
    float: right;
    width: 69%;
    margin-left: 1.5%;
}

/*.container-products p {
    border: solid;
    border-color: red;
    text-align: center;
    top: 270px;
}
/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}


/*Footer*/


footer {
    background: linear-gradient(to right, #00cc66 0%, #ccffff 99%);
    position: relative;
    height: 150px;
    display:block;
    margin-top:100px;
}


.footer-navigation {
    float: left;
    height: 100%;
    padding: 30px 450px;
    margin-top: 18px;
    font-weight: 600;
    width: 70%;
    margin: auto;
}

 .footer-navigation li {
        display: block;
        float: left;
        padding: 0px 20px;
        
       }

        .footer-navigation li a {
            color: white;
            text-decoration: none;
            font-size: 15px;
        }



.copyrights{
 text-align:center;
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 font-size:18px;
 position:absolute;
 top:150px;
 width:100%;
}

   